.nomme-tool a {
  width: fit-content;
  margin: 10px;
}

.nomme-tool-bg {
  background: #eaf5ff;
}

.noome-tool-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 40px 0;
}

.noome-tool-box .tag {
  color: var(--primary-color);
  background: #f2730114;
  padding: 10px 30px;
  border-radius: 50px;
}

.nomme-tool-title {
  text-align: center;
}

.all-page .nomme-tool-title h1 {
  font-size: clamp(1.5625rem, -0.6696rem + 5.9524vw, 4.6875rem);
  ;
  margin-bottom: 40px;
}

.all-page .nomme-tool-title p {
  font-size: clamp(1rem, 0.5982rem + 1.0714vw, 1.5625rem);
  line-height: 1.5;
  margin-bottom: 0;
  width: 70%;
  margin: 0 auto;

}

.noome-tool-box form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
  padding: 50px;
  background: #023760;
}

.noome-tool-box input {
  background: unset;
  border-radius: 0 !important;
  border: 1px solid #fff;
  padding: 0 20px;
  height: 40px;
  color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.noome-tool-box input::placeholder {
  color: #fff;
}

.noome-tool-box .keyword {
  width: 100%;
}


.noome-tool-box .way-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 25px;
}

.noome-tool-box .way-btn span {
  font-size: 20px;
}

.tooltip {
  position: relative;
}

.tooltip:has(.keyword) {
  width: 100%;
}

.tooltip .tooltip-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  transition: all .3s;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  min-width: 350px;
  background-color: #f27301;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  border-radius: 6px;
  padding: .5rem;
  position: absolute;
  right: -10px;
  bottom: 60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 6px;
  border-width: 5px;
  border-style: solid;
  border-color: #f27301 transparent transparent transparent;
}

.tooltip-icon:hover+.tooltiptext {
  visibility: visible;
}

.row-gap {
  row-gap: 30px;
}

.result {
  text-align: center;
  padding: 30px;
  background: #ccc;
  border-radius: 4px;
  font-size: 20px;
  height: 100%;
}

.result:hover {
  color: #fff;
  background: var(--primary-color);
}

@media (max-width:600px) {
  .noome-tool-box {
    gap: 30px;
    padding: 20px 0;
  }

  .all-page .nomme-tool-title h1 {
    margin-bottom: 20px;
  }

  .all-page .nomme-tool-title p {
    width: 100%;
  }

  .tooltip .tooltiptext {
    width: fit-content;
    min-width: 350px;
  }

  .noome-tool-box form {
    display: grid;
    padding: 20px;
    justify-content: unset;

  }

  .noome-tool-box .tooltip,
  .noome-tool-box form input {
    width: 100%;
  }

  .noome-tool-box .way-btn {
    width: fit-content;
    margin: 0 auto;
  }
}