.nomme-tool a {
  width: fit-content;
  margin: 10px;
}

.nomme-tool-bg {
  background: #eaf5ff;
}

.noome-tool-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
}

.nomme-tool-title {
  text-align: center;
}

.nomme-tool-title h1 {
  margin-bottom: 20px;
  font-size: 50px;
}

.nomme-tool-title p {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  line-height: 1.5;
}

.nomme-tool-title h1 span {
  background: -webkit-linear-gradient(359deg, rgba(250, 132, 26, 1) 0%, rgb(0 102 181) 48.500001430511475%, rgba(250, 132, 26, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.noome-tool-box form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  gap: 10px;
  border: 1px solid #023760;
  border-radius: 4px;
  padding: 2px;
  background: #fff;
}

.noome-tool-box input,
.noome-tool-box input:focus-visible,
.noome-tool-box input:active {
  background: #fff;
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 10px;
  outline: none;
}

.noome-tool-box .way-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 25px;
  background: #023760;
  border-radius: 4px;
}

.noome-tool-box .way-btn span {
  font-size: 16px;
}

.generated-result {
  background: #fff;
  border-radius: 8px;
  padding: 40px;
}

.row-gap {
  row-gap: 30px;
}

.result,
.error {
  text-align: center;
  padding: 10px;
  background: #cccccc38;
  border-radius: 4px;
  font-size: 16px;
  height: 100%;
}


.result:hover {
  color: #fff;
  background: var(--primary-color);
}

@media (max-width:600px) {
  .nomme-tool-title h1 {
    font-size: 34px;
  }

  .nomme-tool-title p {
    width: 100%;
  }

  .noome-tool-box form {
    display: inline-block;
    width: 100%;
    border: unset;
    background: transparent;
  }

  .noome-tool-box .way-btn {
    justify-content: center;
    margin: 15px auto 0 auto;
  }
}